[[source]]
url = "https://github.com/LorhanSohaky/POOA"
verify_ssl = true
name = "web-scrapper"

[packages]
requests = "~=2.25"
beautifulsoup4 = "~=4.9"
selenium = "~=3.141"

[dev-packages]

[requires]
python_version = "3.8"
